*{
    margin: 0px;
    padding: 0px;
}
header, footer, aside, nav, section, main, article{
    display: block;
}

h1,h2{text-align: center;}

 #wrapper {max-width : 985px ; margin : auto ;position : relative}
 #koteret {background-color : rgba(255,255,255,0.7) ; height : 140px ; position : relative ;  border-top-left-radius : 30px; border-top-right-radius : 30px}
 #koteret h1{text-align :center  ; font-size : 250%; border : none ;  font-weight : 400 ; margin : 0px ; padding : 0px}
 #content {display : inline-block ;max-width : 785.5px ; background-color : rgba(255,255,255,0.7); padding-bottom : 30px ;}
 #content_wrapper {background-color : rgba(255,255,255,0.3)  ; max-width : 1200px }